body{
    margin: 0;
    padding: 0;
}
.box{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    margin: 50px auto;
    /* transform: translate(200px, 200px); */
    /* transform: rotate(30deg); */
    /* transform: scale(2); */
    transform: scaleX(2);
    transform: skew(20deg);
}